In [1]:
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree 
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.metrics import accuracy_score , confusion_matrix , roc_auc_score , roc_curve
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv('winequality_red.csv')

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
from sklearn.svm import SVC

In [5]:
x = df.drop("quality", axis = 1)

In [6]:
y = df["quality"]

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 20)

In [8]:
svc = SVC()

In [9]:
svc.fit(x_train, y_train)

SVC()

In [10]:
svc.score(x_test, y_test)

0.5

In [13]:
param = {
    'kernel' : ['linear', 'rbf', 'sigmoid', 'poly']
    
}

In [14]:
svm_grid = GridSearchCV(SVC(), param_grid = param, verbose = 3)

In [15]:
svm_grid.fit(x_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV 1/5] END ..................................kernel=linear; total time=  38.4s
[CV 2/5] END ..................................kernel=linear; total time=  30.3s
[CV 3/5] END ..................................kernel=linear; total time=  43.5s
[CV 4/5] END ..................................kernel=linear; total time=  31.8s
[CV 5/5] END ..................................kernel=linear; total time=  23.6s
[CV 1/5] END .....................................kernel=rbf; total time=   0.2s
[CV 2/5] END .....................................kernel=rbf; total time=   0.2s
[CV 3/5] END .....................................kernel=rbf; total time=   0.2s
[CV 4/5] END .....................................kernel=rbf; total time=   0.2s
[CV 5/5] END .....................................kernel=rbf; total time=   0.2s
[CV 1/5] END .................................kernel=sigmoid; total time=   0.1s
[CV 2/5] END .................................kernel=sigmoid; total time=   0.1s
[CV 3/5] END .................................kernel=sigmoid; total time=   0.1s
[CV 4/5] END .................................kernel=sigmoid; total time=   0.1s
[CV 5/5] END .................................kernel=sigmoid; total time=   0.1s
[CV 1/5] END ....................................kernel=poly; total time=   0.5s
[CV 2/5] END ....................................kernel=poly; total time=   0.5s
[CV 3/5] END ....................................kernel=poly; total time=   0.5s
[CV 4/5] END ....................................kernel=poly; total time=   0.3s
[CV 5/5] END ....................................kernel=poly; total time=   0.4s

GridSearchCV(estimator=SVC(),
             param_grid={'kernel': ['linear', 'rbf', 'sigmoid', 'poly']},
             verbose=3)

In [16]:
svm_grid.best_params_

{'kernel': 'linear'}

In [17]:
svc1  = SVC(kernel = 'linear')

In [18]:
svc1.fit(x_train, y_train)

SVC(kernel='linear')

In [19]:
svc1.score(x_test, y_test)

0.5925

In [31]:
data = pd.read_csv("Admission_Prediction.csv")
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
496,497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
497,498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
498,499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
499,500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [39]:
data.isnull().any()

Serial No.           False
GRE Score             True
TOEFL Score           True
University Rating     True
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [41]:
data["GRE Score"] = data["GRE Score"].fillna(data["GRE Score"].mean())

In [42]:
data["TOEFL Score"] = data["TOEFL Score"].fillna(data["TOEFL Score"].mean())

In [47]:
data["University Rating"] = data["University Rating"].fillna(data["University Rating"].mean())

In [48]:
data.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [49]:
x1 = data.drop(['Serial No.', 'Chance of Admit'], axis =1)

In [50]:
y1= data['Chance of Admit']

In [51]:
from sklearn.svm import SVR

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x1, y1)

In [53]:
svr = SVR()

In [54]:
svr.fit(x_train, y_train)

SVR()

In [58]:
y_pred = svr.predict(x_test)

In [57]:
from sklearn.metrics import r2_score

In [59]:
r2_score(y_test, y_pred)

0.6207799159705787

In [61]:
svr.predict([x1.iloc[0]])

array([0.88974929])

In [62]:
y[0]

0.92

In [63]:
svr.score(x_test, y_test)

0.6207799159705787